[submodule "projects"]
	path = projects
	url = https://github.com/Forestbound/forestbound.github.io.git
[submodule "bhromaon"]
	path = bhromaon
	url = https://github.com/Forestbound/bhromaon.git
[submodule "portal"]
	path = portal
	url = https://github.com/Forestbound/portal.git
